<ion-view view-title="Login" hide-nav-bar="true">
  <ion-content class="padding-right" align="center" style="background: url(img/background.png) no-repeat center center fixed; background-size: cover;">
  <ion-content class="padding-right padding-left">
    <div style="padding-top: 12%;">
    <div class="no-header">
        <div class="app-icon"></div>
    </div>
    <div class="list">
      <ion-md-input placeholder="E-mail" ng-model="user.email" type="text"></ion-md-input>
      <ion-md-input placeholder="Password" ng-model="user.password" type="password"></ion-md-input>
    </div>
      <div class="padding-top">
        <button class="button login-button ink" ng-click="signIn(user)">Login</button>
        <div class="padding-top">
          <button ng-click="modal.show()" class="register-button ink">Register</button>
        </div>
      </div>
    </div>
    </ion-content>
  </ion-content>
</ion-view>