<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Create New Account</h1>
        <button class="button button-clear button-primary icon ion-arrow-right-c" ng-click="modal.hide()"></button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list card padding" style="background-color: #b3c6ff; border-radius: 35px;">
            <ion-md-input placeholder="Email" ng-model="user.email" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" ng-model="user.password" type="password"></ion-md-input>
            <ion-md-input placeholder="Re-type Password" ng-model="user.secondpassword" type="password"></ion-md-input>
            <div align="center" class="padding-top"><button class="button login button-positive ink" ng-click="createUser(user)">Create</button></div>
        </div>
    </ion-content>
</ion-modal-view>