<ion-view view-title="Your Devices" ng-init="$root.typeOfDevice = 0; showNewRoom = false">

	<ion-content class="scroll-content ionic-scroll had-header" style="background: url(img/background.png) no-repeat center center fixed; background-size: cover">

		<ion-list class="padding-right animate-ripple">
			<ion-item style="text-align: center" class="card_devices ink" ng-click="show(item)" ng-show="item.room == $root.selectedRoom" ng-repeat="item in yourDevices">{{item.brand}}</ion-item>
		</ion-list>
			<button class="button card icon login-button ion-plus-round" ng-click="modal.show()"></button>

	</ion-content>
</ion-view>